section#best {
  a: c;
}
section#best div {
  a: c;
}
section#best div h2 {
  a: c;
}
section#best div p {
  a: c;
}
section#best div ul {
  a: c;
}
section#best div ul li {
  a: c;
}
section#best div ul li a {
  a: c;
}
section#best div ul li a img {
  a: c;
}
section#best div ul li a p {
  a: c;
}
section#best div a {
  a: c;
}