footer {
  a: c;
}
footer section#footer header {
  a: c;
}
footer section#footer header ul {
  a: c;
}
footer section#footer header ul li {
  a: c;
}
footer section#footer header ul li a {
  a: c;
}
footer section#footer content {
  a: c;
}
footer section#footer content ul {
  a: c;
}
footer section#footer content ul li {
  a: c;
}
footer section#footer content ul li a {
  a: c;
}
footer section#footer content ul p {
  a: c;
}