section#title {
  a: c;
}
section#title div.tAni {
  a: c;
}
section#title div.tAni div.title {
  a: c;
}
section#title div.tAni div.title a {
  a: c;
}
section#title div.tAni div.title a img {
  a: c;
}
section#title div.tAni div.title a div {
  a: c;
}
section#title div.tAni div.title a div p.sub {
  a: c;
}
section#title div.tAni div.title a div h2 {
  a: c;
}
section#title div.tAni div.title a div p {
  a: c;
}