footer {a:c;
    section#footer header {a:c;
        ul {a:c;
            li {a:c;
                a {a:c;

                }
            }
        }
    }
    section#footer content {a:c;
        ul {a:c;
            li {a:c;
                a{a:c;

                }
            }
            p {a:c;

            }
        }
    }
}