section#special {a:c;
    div {a:c;
        h2 {a:c;

        }
        p {a:c;

        }
        ul.fAni {a:c;
            li {a:c;
                a {a:c;
                    img {a:c;

                    }
                }
            }
        }
    }
}