section#title {a:c;
    div.tAni {a:c;
        div.title {a:c;
            a {a:c;
                img {a:c;

                }
                div {a:c;
                    p.sub {a:c;

                    }
                    h2 {a:c;

                    }
                    p {a:c;

                    }
                }
            }
        }
    }
}